/* sidebar and dropdown */
/* white */

.custom-sidebar-width {
  width: 280px;
}
.custom-dropDown > button {
  background-color: transparent;
  border: none;
}
.custom-dropDown > button:hover {
  background-color: transparent;
  /* background-color: transparent; */
  border: none;
}
.custom-dropDown > button:focus {
  background-color: transparent;
}

.custom-dropDown {
  position: relative;
}
/* 
.custom-dropDown:hover  */
.dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.custom-dropDown .dropdown-menu {
  position: static !important;
  transform: none !important;
  width: 100%; /* Optional: to make it full width */
}

.custom-dropdown-menu {
 background-color: transparent ;;
  padding: 0px !important;
  color: white !important;
  overflow: hidden;
  border: none !important;
}
.custom-dropdown-menu > .dropdown-item {
  color: white !important;
  margin-top: 5px;
}
.dropdown-menu > .dropdown-item:hover {
  color: white !important;
  background-color: transparent !important;
  margin-top: 5px;
}
.dropdown-menu > .dropdown-item:focus {
  color: white !important;
  background-color: transparent !important;
  margin-top: 5px;
}

.custom-z-index {
  z-index: 0;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: transparent;
}
.custom-dropDown-toggle {
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.custom-dropdown-menu {
  padding-left: 16px;
  padding-top: 8px;
  flex-direction: column;
  gap: 10px;
}

.text-white {
  color: #fff;
}

.custom-position-absolute-mobile {
  /* Custom positioning for mobile */
}

.custom-z-index {
  z-index: 1040;
}

.text-decoration-none {
  text-decoration: none;
}

a{
  text-decoration: none;
}

@media (max-width: 500px) {
  .custom-position-absolute-mobile {
    position: absolute !important;
  }
  .custom-position-fixed-mobile {
    position: fixed !important;
  }
  .custom-z-index {
    z-index: 999;
  }
}
