/* sidebar and dropdown */

.custom-sidebar-width {
    width: 280px;
  }
  .custom-dropDown > button {
    background-color: rgb(52, 41, 41);
    border: none;
  }
  .custom-dropDown > button:hover {
    background-color: rgb(52, 41, 41);
    /* background-color: rgb(52, 41, 41); */
    border: none;
  }
  .custom-dropDown > button:focus {
    background-color: rgb(52, 41, 41);
  }
  
  .custom-dropDown {
    position: relative;
  }
  
  .custom-dropDown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }
  
  .custom-dropDown .dropdown-menu {
    position: static !important;
    transform: none !important;
    width: 100%; /* Optional: to make it full width */
  }
  
  .custom-dropdown-menu {
    background-color: rgb(52, 41, 41) !important;
    padding: 0px !important;
    color: white !important;
    overflow: hidden;
    border: none !important;
  }
  .custom-dropdown-menu > .dropdown-item {
    color: white !important;
    margin-top: 5px;
  }
  .dropdown-menu > .dropdown-item:hover {
    color: white !important;
    background-color: transparent !important;
    margin-top: 5px;
  }
  .dropdown-menu > .dropdown-item:focus {
    color: white !important;
    background-color: transparent !important;
    margin-top: 5px;
  }
  
  /* @media (max-width:500px) {
    .custom-sidebar-width {
      width: auto;
    }
  } */