.doctor-management-form {
    /* background-color: rgb(255, 255, 255); */
    background-color: bisque;
    box-shadow: 2px 6px 100px wheat;
}
.date-container {
    position: relative;
}

.date-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}



.date-picker {
    border-color: #dee2e6;
    width: 340px;
    height: 58px;
    border-radius: 8px;
    /* z-index: 1; */
}



.gender-input{
    width: 350px;
    height: 56px;
    border-radius: 8px;
    border-color: #dee2e6;
}

.gender-container{
    position: relative;
}

.gender-icon{
    position: absolute;
    margin-left: -35px;
    margin-top: 10px;
}

.blood-group{
    height: 57px;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

@media (max-width: 768px) {
    .date-picker {
        height: 60px; /* Adjust height */
        width: 330px; /* Ensure full width */
    }

    .date-icon {
        right: 5px; /* Adjust icon position */
    }
}

@media (max-width: 576px) {
    .date-picker {
        height: 60px; /* Adjust height */
        width: 310px; /* Ensure full width */
    }

    .date-icon {
        right: 5px; /* Adjust icon position */
    }
}


/* Invoice Generation */

.invoice-container{
    background: #696cff29;
}
