.custom-bg-main {
  /* background-color: rgb(52, 41, 41) !important; */
   background-color: #001529 !important;
  /* background-color: rgb(44, 44, 44); */
}
.custom-text-main {
  color: #001529 !important;
  /* color: rgb(100, 13, 13) !important; */
}
.custom-border {
  border-bottom: 4px solid #001529;
  border-top: 1px solid #001529;
  border-left: 1px solid #001529;
  border-right: 1px solid #001529;
}
.custom-outlet-size{
  width: calc(100% - 280px);
}
.custom-btn-hover{
margin-top: 10px;
}
.custom-btn-hover:hover{
 background-color: #001529 !important;
 color: white !important;
 border-radius: 5px;
 padding: 3px;
 margin-top: 10px;
}
@media (max-width:800px) {
  .custom-outlet-size{
    width: 100%;
  }
}