.custom-bg-main {
   background-color: #696cff !important;
  /* background-color: rgb(44, 44, 44); */
}
.custom-bg-main-light {
   background-color: #696cff29 !important;
  /* background-color: rgb(44, 44, 44); */
}
.custom-text-main-light {
   color: #696cff29 !important;
  /* background-color: rgb(44, 44, 44); */
}
.custom-bg-main-light-lg {
   background-color: #696cff29 !important;
  /* background-color: rgb(44, 44, 44); */
}
.custom-text-main {
  color: #696cff !important;
  /* color: rgb(100, 13, 13) !important; */
}
.custom-border {
  border: 1px solid #696cff29 !important;
}
.custom-border-card{
    margin-left: 4px solid #696cff !important;
}
.custom-bg-dark{
  background-color:#f6f6f7 ;
}

.custom-outlet-size{
  width: calc(100% - 280px);
}
.custom-btn-hover{
margin-top: 10px;
}
.custom-btn-hover:hover{
 background-color: #696cff !important;
 color: white !important;
 border-radius: 5px;
 padding: 3px;
 margin-top: 10px;
}
.form-check .form-check-input{
  border: 1px solid #cbcbcc;
}
/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:none; 
 } */

/* .active{
 border-radius: 6px;
 background-color:#696cff29;
 color: #696cff !important;
 padding: 10px;
} */

@media (max-width:800px) {
  .custom-bg-main-light-lg {
    background-color: none !important;
   /* background-color: rgb(44, 44, 44); */
 }
  .custom-outlet-size{
    width: 100%;
  }
}